<!DOCTYPE html>
<html lang="en">

<head>
    <!-- header begins here -->
    <!-- header begins here -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="this is the about me page">
    <meta name="author" content="Laura Godinez">
    <link href="./style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="./js/header-functions.js"></script> -->
</head>

<body>
    </head>

    <body id="bg-id">

        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            <a class="navbar-brand" href="#" style="font-family: 'Amatic SC';font-size: 25px;">Laura Godinez</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="./index.html">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./About.html">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Contact.html">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- end nav bar -->

        <!-- jumbotron -->
        <!-- <div class="container-fluid aboutContainer "> -->

        <div class="jumbotron p-0">

            <!-- Title -->
            <h1 style="font-size:80px; text-align:center">Oh Hello!</h1>
            <!-- Card image -->
            <div class="view overlay rounded-top">
                <img src="img.jpg" class="img-fluid" alt="Photo of Laura Godinez">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!-- Card image -->
            <h4 style="font-size:40px; text-align:center; font-family: 'Amatic SC'">I'm Laura Godinez</h4>
            <p style=" font-size:20px; text-align:center; font-family: 'Amatic SC'"> I am a recent Information Technology graduate at the associate level with a focus in Software Developement as
                a carreer. I graduated with my associates in early May,2020. Shortly after graduating, I enrolled with Per
                Scholas' Java Developer Training Course. While with Per Scholas I have been able to build on and expand my
                knowledge as a Full Stack Developer. Thanks to my training i have been able to fully build this blog from
                scratch which is not bad for my first actual project which is an incredible sign of better things to come.
                When i am not on the computer programming and building on my knowledge I am out with loved ones. You can
                pretty much always find me outside if im not on the computer. I love to take bike rides, swim, hike and just
                appreciate all that nature has to offer.
            </p>


        </div>



        <p class="card-text">
            <!-- Linkedin -->
            <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
            <!-- Twitter -->
            <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter grey-text"></i></a>
            <!-- Dribbble -->
            <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f grey-text"></i></a>

            </div>


            <footer>

            </footer>


    </body>


</html>